html {
    background-image: url("../img/bg/Pemkot_Batu_Edit.jpg");
    background-size: cover;
    backdrop-filter: blur(10px);
    position: relative;
    background-position: center;
}

body {
    background: transparent;
    font-size: 16px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.rounded {
    border-radius: 15px !important;
}

.rounded input select {
    border-radius: 10px !important;
}

.form-input {
    display: flex;
    position: relative;
}

.icon {
    position: absolute;
    padding: 10px;
    color: #757b85;
}

.input {
    padding-left: 35px;
}

.form-control:focus {
    border-color: #000000;
    box-shadow: none;
}

.form-select:focus {
    border-color: #000000;
    box-shadow: none;
}

.list-nav {
    list-style-type: none;
    float: left;
}

.nav-link {
    color: #000;
}

.login-page {
    margin-top: 10%;
}

.register-page {
    margin-top: 10%;
}

/* Mobile */

@media (min-width: 300px) {
    .navbar-expand-lg .navbar-toggler {
        display: block;
    }
    .login-page {
        position: absolute;
        width: 200%;
        right: 50%;
        left: -50%;
    }
    
    .offcanvas {
        width: 60%;
    }

    .register-page {
        width: 80%;
    }
}

@media (min-width: 576px) {
    .navbar-expand-lg .navbar-toggler {
        display: block;
    }
    .login-page {
        position: absolute;
        width: 200%;
        right: 50%;
        left: -50%;
    }

    .offcanvas {
        width: 40%;
    }

    .register-page {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .navbar-expand-lg .navbar-toggler {
        display: block;
    }
    
    .login-page {
        position: absolute;
        width: 200%;
        right: 50%;
        left: -50%;
    }

    .offcanvas {
        width: 40%;
    }

    .register-page {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-toggler {
        display: block;
    }

    .login-page {
        position: absolute;
        width: 100%;
        left: 0;
    }

    .offcanvas {
        width: 40%;
    }

    .register-page {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-lg .navbar-toggler {
        display: block;
    }

    .login-page {
        position: absolute;
        width: 100%;
        left: 0;
    }

    .offcanvas {
        width: 30%;
    }

    .register-page {
        width: 50%;
    }
}

@media (min-width: 1400px) {
    .navbar-expand-lg .navbar-toggler {
        display: block;
    }

    .login-page {
        position: absolute;
        width: 100%;
        left: 0;
    }

    .offcanvas {
        width: 30%;
    }

    .register-page {
        width: 50%;
    }
}